#kv{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding: 0%;
    line-height: 1.4;
    scroll-behavior: smooth;
    background-image:url("../images/hapsira.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    display: block;
}
.about-section{
    color: white;
    padding: 50px;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
    margin-top: 100px;
}
.about-section h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
    padding-bottom: 20px;
    color: white;
}
.about-section p{
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}
.about-image{
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.footer-section{
    text-align: center;
    background-color: rgb(7, 31, 52);
    color: white;
    margin-top:30px ;
}