@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
  --primary: #632679;
  --secondary: #ae96b2;
  --dark: #1c0538;
  --light: #f4eef7;
  --accent: #aa50d4;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}
#kv-body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding-top: 60px;
    line-height: 1.7;
    background-color: var(--dark);
    color: var(--light);
}
.main-header{
    display: block;
    color: white;
    padding: 60px 0;

}
.main{
    display: block;
    color: white;
    padding: 20px 0;


}
.kv-logo{
    font-size: 50px;
    font-weight: bold;
    margin-left: 0px;
    background-color:#190727;
    padding: 20px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    text-align: center;
    color: white;

}
.kv-logo i{
    color: rgb(99, 38, 99);
    margin-left:10px ;
}
.kv-logo img{
    width: 90px;
    height: auto;
    vertical-align: middle;
    margin-left: 0px;
    border-radius:90px ;
}
/* NAV BAR */
.kv-nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 10 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(68, 33, 68, 0.85);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}
.kv-nav-bar li {
  list-style: none;
}
.kv-nav-bar li a {
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-weight: 400;
  transition:0.3s ease, transform 0.3s ease;
  font-size:20px;
  font-weight: bolder;
}
.kv-nav-bar li a:hover {
  background-color: var(--accent);
  border-radius: 10px;
  transform: translateY(-5px);
  padding-bottom:10px;
  padding-top:10px ;
}
a{
  transition: all 0.3s ease;
}
.kv-blog-section {
  padding: 100px 20px;
  background: linear-gradient(180deg, #070918, #0b0c1a);
  color: #fff;
  text-align: center;
}

.kv-blog-container {
  max-width:1200px ;
  margin:0 auto ;
}

.kv-blog-section h2 {
  font-size: 40px;
  color: #ffdd00;
  margin-bottom: 10px;
}

.kv-blog-intro {
  color: #ccc;
  margin-bottom: 60px;
  font-size: 17px;
}


/* CARD */
.kv-blog-card {
  background: rgba(26, 27, 43, 0.95);
  border-radius: 22px;
  overflow: hidden;
  box-shadow: 0 25px 55px rgba(0,0,0,0.65);
  transition: transform 0.4s ease;
  gap:30px;
}

.kv-blog-card:hover {
  transform: translateY(-12px);
}

/* IMAGE */
.kv-blog-card img{
  width:100%;
  height: auto;
  object-fit: cover;


}
/* CONTENT */
.kv-blog-content {
  padding: 30px;
  text-align: left;
}

.kv-blog-date {
  font-size: 13px;
  color: #aaa;
}

.kv-blog-content h3 {
  color: #ffdd00;
  margin: 10px 0;
  font-size: 22px;
}

.kv-blog-content p {
  color: #ddd;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* BUTTON */
.kv-blog-btn {
  display: inline-block;
  padding: 10px 26px;
  background: transparent;
  border: 2px solid #ffdd00;
  color: #ffdd00;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.kv-blog-btn:hover {
  background: #ffdd00;
  color: #0b0c1a;
}
/* Footer */
.kv-footer-section {
    text-align: center;
    padding: 20px 0;
    background-color: #1d0837;
    color: #f4eef7;
    font-size: 14px;
}